form.add-review.container {

    width: min-content;

    padding: 1em;

    border: 2px var(--clr-black) solid;
    border-radius: 1vh;
    background-color: var(--clr-accent--1);
}

.inputs{
    display: grid;
}

.full-name{
    width: 150px;
}

form.add-review .actions {
    background-color: var(--clr-accent--1);
}