.app-header {
    grid-area: main-header;
    padding-block: .75em;

    border-bottom-right-radius: .5vh;
    border-bottom-left-radius: .5vh;

    color: var(--clr1bg-light);
    background-color: var(--clr-primary--1);
}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.app-header .app-nav {
    display: flex;
    gap: 15px;

    >a {
        cursor: pointer;
    }
}