.book-preview-container {
    height: 90%;
}

.book-preview {
    grid-area: book-preview;
    grid-template-areas:
        "   header"
        "    img  "
        "   price "
        " description "
        " actions "
    ;

    gap: 0;
    align-items: stretch;
    overflow: auto;
    
    width: 100%;
    text-align: justify;
}


header {
    grid-area: header;
}

.book-preview.actions {
    grid-area: actions;
}

.book-preview.price {
    grid-area: price;
}

.book-preview img {
    grid-area: img;
    border-radius: 1vh;
    max-width: 300px;
}

.description {
    grid-area: description;
}

.sale.img {
    width: 50px;
}
