.books-list {
    /* grid-template-columns: 1fr; */

    /* width: 90%; */


    gap: .5em;

    border: 2px black solid;
    border-radius: 1vh;
    background-color: var(--clr-accent-base);
}

.actions {
    display: flex;
    gap: 1rem;

    align-self: flex-end;
    justify-content: space-evenly;
}

