.book-details {
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "cover main";

  max-width: 800px;

  gap: 2rem;
  padding: 2rem;

  border: 2px var(--clr-black) solid;
  border-radius: 1vh;

  background-color: var(--clr-accent--1);
}

.cover-img {
  grid-area: cover;
}

.cover-img img {
  border-radius: .5vh;
}

.main-info {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-primary--1);
  align-self: center;

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }

}

.sale {
  margin-left: 1ch;
  color: red;
  font-weight: bold;
}



.actions {
  display: flex;
  gap: 1rem;
}