.book-filter {
    display: grid;

    gap: 1em;

    text-align: center;

}

.book-filter label {
    justify-self: flex-end;
}

.book-filter input {
    margin-inline-start: 1em;
    max-width: 180px;
}