.book-preview-container {
    display: flex;
    flex-direction: column;
}

.book-preview {
    grid-area: book-preview;
    grid-template-areas:
        "   header"
        "   price "
        "    img  "
        " description "
        " actions "
    ;
    place-content: baseline;
    gap: 0;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    text-align: justify;
    height: 100%;
    width: 100%;
}

.book-preview p,
h1 {
    word-wrap: break-word;
    overflow-wrap: break-word;

}

header {
    grid-area: header;
}

.book-preview .actions {
    grid-area: actions;
}

.price {
    grid-area: price;
    display: flex;

    height: 50px;

    align-items: center;
}

.book-preview img {
    grid-area: img;
    border-radius: 1vh;
    max-width: 200px;
}

.description {
    grid-area: description;


}

.sale.img {
    width: 50px;
}

.book-preview::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}