.book-preview {
    grid-area: book-preview;
    grid-template-areas:
        "   header"
        "    img  "
        "   price "
        " description "
    ;
    text-align: justify;
}


header {
    grid-area: header;
}

.book-preview .price {
    grid-area: price;
}

.book-preview .img {
    grid-area: img;
}

.description {
    grid-area: description;

}

.sale.img {
    width: 50px;
}


.book-preview-container {
    display: grid;
    grid:
        "book-preview" 1fr "actions" auto;
        
    width: 100%;

    /* grid-template-rows: 1fr auto; */
    /* min-height: 650px; */
    border: 2px var(--clr-black) solid;
    border-radius: 1vh;

    background-color: var(--clr-accent--1);

}