.books-list {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

    width: 90%;
    gap: 1em;

    border: 2px black solid;
    border-radius: 1vh;
    background-color: var(--clr-accent-base);
}

.actions {
    height: 50px;
    
    align-self: flex-end;
    justify-content: space-evenly;
}