.book-preview {
    grid-area: book-preview;
    grid-template-areas:
        "   header"
        "    img  "
        "   price "
        " description "
    ;

    max-width: 400px;

    text-align: justify;
}


header {
    grid-area: header;
}

.book-preview .price {
    grid-area: price;
}

.book-preview img {
    grid-area: img;
    border-radius: 1vh;
    max-width: 300px;
}

.description {
    grid-area: description;
}

.sale.img {
    width: 50px;
}