.books-list {
    gap: .5em;

    background-color: var(--clr-accent--1);
}

.list-container {
    display: grid;
    place-items: center;

    margin: auto;

    gap: .5em;
    padding: 1em;

    border-radius: 1vh;
    border: 2px var(--clr-black) solid;
    background-color: var(--clr-accent--1);
}
