footer {
    grid-area: footer;
    display: flex;

    place-items: center;
    justify-content: space-evenly;

    gap: .5em;
    height: fit-content;

    padding: .5em;

    border-top-right-radius: .5vh;
    border-top-left-radius: .5vh;

    text-align: center;
    background-color: var(--clr-primary--1);
}

footer img {
    max-width: 40px;
    border-radius: 2vh;
}