footer {
    grid-area: footer;
    display: grid;

    height: fit-content;

    padding: 1em;

    border-top-right-radius: .5vh;
    border-top-left-radius: .5vh;

    text-align: center;
    background-color: var(--clr-primary-base);
}