.book-details {
  display: flex;
  flex-direction: column;

  padding: 2rem;

  background-color: var(--clr-accent--1);
}

.cover-img img {
  border-radius: .5vh;
}

.main-info {
  grid-area: info;
  display: flex;
  flex-direction: column;

  width: 100%;
  
  padding: .3em;
  gap: 0;

}

.meta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-primary--1);
  align-self: center;

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }

}

.sale {
  margin-left: 1ch;
  color: red;
  font-weight: bold;
}

.books-details .actions {
  grid-area: actions;
  display: flex;

  gap: 1rem;
  justify-self: center;
  justify-content: space-evenly;
}

.review-preview {
  display: grid;
}

.add-info {
  display: flex;
  flex-wrap: wrap;

  gap: 1em;
}

.add-info>* {
  place-content: center;
  width: 200px;
  height: 250px;
}