

.book-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        " header          header       header "
        "  img             img          img   "
        " info             meta         price "
        " description  description   description "

    ;

    height: 650px;

    border: 2px black solid;
    background-color: var(--clr-accent-1);
}

header {
    grid-area: header;
}

.book-info {
    grid-area: info;
}

.book-price {
    grid-area: price;

}

.book-meta {
    grid-area: meta;
}

.book-img {
    grid-area: img;
}

.book-description {
    grid-area: description;

}