section.books {
  grid-area: main-content;
  grid-template-areas:
    "header"
    "main"
  ;
  gap: 1rem;
  padding: 1em;

}

.books h1 {
  grid-area: header;
}

.books-index {
  grid-area: main;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}