.main-layout {
  display: grid;
  grid-template-areas:
    "header"
    "main-content"
    "footer"
  ;

  background-color: var(--clr-accent-base);
}

.container {
  display: grid;
  place-items: center;

  padding: 2em;
  
  padding: 1em;

  margin: auto;
}