@media (max-width: 345px) {
  .app-header section {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 670px) {

  .app-header {
    font-size: 1.5em;
  }

  .books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: stretch;
    width: 90%;

  }

  .book-details {
    display: grid;
    grid-template-areas:
      "book-preview   add-info"
      "book-preview   add-info"
      "   reviews     reviews"
      "   actions     actions"
    ;
    /* gap: 2rem; */

    max-width: 700px;
  }

  .add-info {
    grid-area: add-info;
    flex-direction: column;
  }


}