@media (min-width: 620px) {

  .book-Preview-container {
    width: 475px;
    height: 680px;

  }

  .books-list {
    grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
    width: 90%;

  }

  .book-filter {
    padding: 2em;
  }

  .book-details {
    display: grid;
    grid-auto-flow: row;

    grid-template-areas:
      "cover main";

    max-width: 800px;

  }
}