@media (max-width: 620px) {

}

@media (min-width: 620px) {

  .book-preview-container {
    width: 475px;
    min-height: 700px;

  }

  .books-list {
    grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
    width: 90%;

  }

  .book-filter {
    padding: 2em;
  }

  .book-details {
    display: grid;
    grid-template-columns: minmax(150px ,400px) minmax(50px ,auto);
    grid-template-areas:
      "book-preview main";

    max-width: 800px;

  }
}