@font-face {
    font-family: "Bitcount";
    src: url("../../fonts/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf"),
}

@font-face {
    font-family: "Chewy";
    src: url("../../fonts/Chewy-Regular.ttf"),
}