

.loading {
    justify-self: center;
    padding: 1em;
    margin: 1em;
    border-radius: 1vh;
    border: 2px var(--clr-black) solid;
}

.container {
  display: grid;
  place-items: center;

  padding: 1em;

  margin: auto;
}

main{
    place-content: center;
}