.loading {
  justify-self: center;
  padding: 1em;
  margin: 1em;
  border-radius: 1vh;
  border: 2px var(--clr-black) solid;
}

.container {
  display: grid;
  place-items: center;

  gap: 1em;
  padding: 1em;

  margin: auto;
  border-radius: 1vh;
  border: 2px var(--clr-black) solid;
  background-color: var(--clr-accent-base);
}

main {
  grid-area: main-content;
  padding: 1em;
  place-content: center;
}

input {
  padding: .5em;
  border-radius: .5vh;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.read-more:hover {
  text-decoration: underline;
}