html {
  font-family: 'Chewy';
}

.loading {
  justify-self: center;

  padding: 1em;
  margin: 1em;

  border-radius: 1vh;
  border: 2px var(--clr-black) solid;
  background-color: var(--clr-primary-1);
}

.container {
  display: grid;
  place-items: center;

  margin: auto;

  gap: 1em;
  padding: 1em;

}

.box {
  border-radius: 1vh;
  border: 2px var(--clr-black) solid;
  background-color: var(--clr-accent-base);
}

main {
  grid-area: main-content;
  padding: 1em;
  place-content: center;
  background-color: var(--clr-accent-base);
}

input,
select {
  padding: .5em;
  border-radius: .5vh;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.read-more:hover {
  text-decoration: underline;
}

.actions {
  grid-area: actions;

  flex-wrap: wrap;
  place-content: center;
  display: flex;
}

figure {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitcount';
  font-size: 1.1em;
  color: var(--clr-secondary--1);
}

p {
  text-align: center;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover {
  color: var(--clr-secondary-base);
  transition: color 1s;
  animation: pulse 1s infinite;
}