button {
    cursor: pointer;
    background-color: var(--clr-primary-1);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: var(--clr-primary-base);
    color: white;
    transition: .3s;
}

input {
    border-radius: .5vh;
}

input:focus {

    background-color: var(--clr-primary-1);
    transition: background-color 1s;
}

form.container {
    display: flex;
    flex-direction: column;

    padding: 3em;
}

.custom-swal-class {
    max-width: 90%;
    place-items: center;
}

.custom-swal-class.swal2-input {
    width: 80%;
}